html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
  background-color: #8B0093;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #EEDAF2;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
}

.form-share {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-share .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-share .form-control:focus {
  z-index: 2;
}
a.disabled {
  color: gray;
  pointer-events: none;
}

.jumbotron {
    padding: 3rem 2rem;
	color: #F754A7;
	background-color: #EEDAF2;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: #EEDAF2;
}

.card-body{
	color: #F754A7;
	background-color: #EEDAF2;
}

.text-muted{
	color: #F754A7!important;
}
